body {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	background-color: #199;
	width: 960px;
    margin: 0 auto;
	height: 960px;
	margin: 2em auto 2em auto;
}

.hoverColor {
	background-color: yellow;
}

button {
	display: block;
	height: 4em;
	width: 10em;
	margin: 2em auto;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}